@import "../../../styles/common.css";

.timeline-table {
  width: 45%;
  margin: 0px auto 20px auto;
  border-spacing: 0 40px;
}

.tl-row h2, h4, p {
  margin: 0;
}

.tl-row .tl-left-text {
  white-space: nowrap;
  vertical-align: top;
  padding-top: 3px;
}

.tl-row .dot-cell{
  vertical-align: top;
}

.tl-row .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 5px solid var(--light-purple);
  background-color: var(--dark-purple);
  margin: 1px 10px;
}

.tl-row .tl-header {
  display: flex;
  flex-direction: row;
}

.tl-row .header-text {
  color: var(--dark-purple);
  line-height: 26px;
}

.tl-row .date-text {
  color: var(--dark-grey);
  align-self: flex-end;
  margin-left: 14px;
}

.tl-row .tl-description {
  margin-top: 9px;
}