@import "../../../styles/common.css";

html {
  scroll-behavior: smooth;
}

.apply-top-panel-img {
  width: 80%;
  max-height: 400px;
}

.application-steps-panel {
  width: 45vw;
  margin: 100px auto 0 auto;
  max-width: 2000px;
}

.application-steps-panel h1 {
  text-align: center;
  color: var(--dark-purple);
  font-size: 40px;
  text-shadow: 1px 0 var(--dark-purple);
}

.application-description {
  margin: 0px auto 20px auto;
  line-height: 25px;
}

@media screen and (max-width: 1100px) {
  .application-steps-panel {
    width: 60vw;
  }
}

@media screen and (max-width: 800px) {
  .contact-us-bottom-third-items {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .application-steps-panel {
    width: 70vw;
  }
}

@media screen and (max-width: 550px) {
  .application-steps-panel {
    width: 90vw;
  }
}