@import "../../../styles/common.css";


.page {
    width: 100vw;
    height: 300vh;
    overflow-y: scroll;
  }
  
  .home-panel-1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: url('../../../images/home/CTC-group-pic.jpg');
    background-size: 100% 100%;
    background-color: rgba(24, 9, 58, .65);
    background-blend-mode: multiply;
  }
  
  .home-1-left {
    height: 100vh;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-1-left-body {
    height: 250px;
    margin: auto;
    color: white;
    margin-left: 200px;
    font-family: 'Inter';
    font-size: 20px;
  }
  
  .home-1-subheading-left {
    margin-bottom: 70px;
  }
  
  .home-1-paragraph-left {
    margin-bottom: 40px;
  }
  
  .apply-button {
    width: 160px;
    height: 40px;
    border-radius: 0;
    border: 1px solid black;
    background-color: #FFFFFF;
    color: black;
  }
  
  .home-1-right {
    height: 100vh;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-1-right-logo {
    margin: auto;
  }
  
  .home-panel-2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  
  .home-2-left {
    height: 100vh;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-2-left-image {
    width: 636px;
    height: 410px;
    border-radius: 11px;
  }
  
  .home-2-right {
    height: 100vh;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-2-heading-right {
    color: #6331D8;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 56px;
    margin-bottom: 5px;
  }
  
  .home-2-paragraph-1-right {
    color: black;
    margin-bottom: 15px;
    font-family: 'Inter';
    font-size: 20px;
  }
  
  .home-2-paragraph-2-right {
    color: black;
    font-family: 'Inter';
    margin-bottom: 40px;
    font-size: 20px;
  }
  
  .learn-more-button {
    background: #6331D8;
    color: white;
    border: none;
    border-radius: 1px;
    width: 153px;
    height: 31px;
  }
  
  .home-panel-3 {
    height: 100vh;
    width:100vw;
    background-color: #FFEFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .current-projects-header {
    color: #ED315D;
    font-size: 48px;
    margin: 50px auto;
    margin-bottom: 60px;
    font-weight: 600;
  }
  
  .current-projects-container {
    width: 70vw;
    height: 410px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .view-all-button {
    width: 128px;
    height: 31px;
    background-color: hsl(346, 84%, 56%);
    color: white;
    margin-top: 5px;
    margin-bottom: 30px;
    border: none;
  }

  .home-panel-4 {
    height: 100vh;
    width:100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-panel-header {
      font-size: 48px;
      color: #6331D8;
      margin-top: 60px;
      margin-bottom: 15px;
  }

  .social-panel-paragraph {
      color: black;
      font-size: 22px;
      margin-bottom: 80px;
  }

  .social-icons-container {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icon-div {
    width: 101px;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .social-icon {
    width: 101px;
    height: 101px;
  }
  
  .social-name {
    color: #6331D8;
  }

  .bottom-section {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100vw;
    height: 307px;
    display: flex;
    flex-direction: row;
  }

  .students-section {
    width: 49vw;
    height: 100%;
  }

  .non-profits-section {
    width: 51vw;
    height: 100%;
    border-left: 5px solid #FFE9EE;
  }

  .students-section-body {
    width: 60%;
    margin: auto;
    font-family: 'Inter';
  }

  .nonprofits-section-body {
    width: 60%;
    margin: auto;
    font-family: 'Inter';
  }

  .students-header {
   width: 60%;
   color: #ED315D;
   font-size: 32px;
  }

  .nonprofits-header {
    width: 60%;
    color: #ED315D;
    font-size: 32px;
  }

  .students-button {
    width: 149px;
    height: 32px;
    border-radius: 2px;
    background-color: #ED315D;
    color: white;
    margin-top: 40px;
    border: none;
  }

  .nonprofits-button {
    width: 149px;
    height: 32px;
    border-radius: 2px;
    background-color: #ED315D;
    color: white;
    margin-top: 40px;
    border: none;
  }