

.about-us-page-container {
    padding-top: 4rem;
    padding-bottom: 20rem;
    background-color: white;
    overflow-x: hidden;
    position: relative;
}

.about-us-content p {
    /* paragraph styling */
    font-size: 16px;
    font-family: "Inter", "sans-serif";
    line-height: 27px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    
}
.about-us-page-container .footer {
    height: 20rem;
}

.about-us-content h4{
    display: flex;
    align-items: center;
    color: #481DAB;
    font-family: "Inter", monospace;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.about-us-content {
    width: 659.96;
    height: 646px;  
    margin-top: 242px;      
    margin-top: 38px; 
    margin-left: 135px;
}

.logo {
    width: 35px;
    height: 18px;
    margin-right: 3px;
}


.styledimg{
    background-image:  url(dog-walking.gif);
    background-repeat: no-repeat;
}

@media only screen{

    .about-us-content {
        width: 50vw;
        height: 646px;  
        margin-top: 242px;      
        margin-top: 38px; 
        margin-left: 135px;
    }

}

.gif-image {
    margin-top: 30px;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-right: 20px;
    overflow: visible;
    position: absolute;
    animation: moveImage 10s linear infinite; /* Use a CSS animation */
}

.gif-container {
    height: 100px;
}

@keyframes moveImage {
  0% {
    right: -100px; /* Start off-screen to the left */
  }
  100% {
    right: 100%; /* Move the image all the way to the right */
  }
}
