

.about-us-page-container {
    padding-top: 4em;
    padding-bottom: 20rem;
    background-color: white;
    overflow-x: hidden;
    position: relative;
    cursor: url('../../../../images/nonprofits/Feeding-Pets-Of-The-Homeless.png'), auto;
}

.about-us-content p {
    /* paragraph styling */
    font-size: 16px;
    font-family: "Inter", "sans-serif";
    line-height: 27px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    
}
.about-us-page-container .footer {
    height: 20rem;
}


.header-image{
    width: 123px;
    height: 138px;
    object-fit: cover;
    object-position: center;
}
/*
.primary-button:hover, .secondary-button:hover{
    cursor: url('./dogpaw.png'), auto;
}

.button-link:hover {
    cursor: url('./dogpaw.png'), auto;
} */

.fph-button {
    margin: 0 10px;
    border-radius: 2px;
    width: 150px;
    font-size: 1em;
    
}

.fph-button:hover, .secondary-button:hover{
    cursor: url('./dogpaw.png'), auto;
}
.button-link:hover {
    cursor: url('./dogpaw.png'), auto;
}



.secondary-button {
    border-radius: 2px;
    width: 150px;
    font-size: 1em;
}

.header-image-container{
    height: 157px;
    width: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDFBF8;
    margin: 0;
    border-radius: 5px;
    margin-right: 20px;
}

.header-title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
}

.header-container{
    margin-top: 2%;
    display: flex;
    justify-content: center;   
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: 157px;
    margin-right: 0px;
}

.header-title{
    font-family: Inter;
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
    justify-content: flex-end;   
    color: #000000;
    margin: 0px;
}

.header-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.header-subtext{
    font-family: Source Code Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F6F6F;

}


@media screen and (max-width: 960px) {
    .header-container {
      margin-top: 30%; /* Reduced from 20% to a fixed value */
      flex-direction: column;
      align-items: center;
    }

    .header-image-container{
        margin-right: 0px;
    }
  
    .header-title-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .fph-button {
        margin-bottom: 10px;
        margin-top: 10px;
    }
  
    .about-us-page-container {
      padding: 2rem 1rem; /* Smaller padding on mobile */
    }
    
    .header-subtext{
        color: rgba(0,0,0,0);
    }
    /* Further styling adjustments for mobile can be added here */
  }

.about-us-page-container h4 {
    display: flex;
    align-items: center;
    color: #481DAB;
    font-family: "Inter", monospace;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.about-us-content {
    width: 659.96;
    height: 646px;  
    margin-top: 242px;      
    margin-top: 38px; 
    margin-left: 135px;
}

.logo {
    width: 35px;
    height: 18px;
    margin-right: 3px;
}


.styledimg{
    background-image:  url(dog-walking.gif);
    background-repeat: no-repeat;
}

@media only screen{

    .about-us-content {
        width: 50vw;
        height: 646px;  
        margin-top: 242px;      
        margin-top: 38px; 
        margin-left: 135px;
    }

}

.gif-image {
    margin-top: 30px;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-right: 20px;
    overflow: hidden;
    position: absolute;
    animation: moveImage 10s linear infinite; /* Use a CSS animation */
}

.gif-container {
    height: 100px;
}

@keyframes moveImage {
  0% {
    left: -75%; /* Start off-screen to the left */
  }
  100% {
    left: 100%; /* Move the image all the way to the right */
  }
}

.fph-body-container {
    display: flex;
    position: relative;
    flex-direction: row;
}

.fph-dog {
    width: 60vh;
    height: 60vh;
    position: absolute;
    top: 15vh;
    left: 65vw;
}

.fph-lower-triangle{
    width: 25vh;
    height: 25vw;
    position: absolute;
    top: 50vh;
    left: 60vw;
}

.fph-upper-triangle{
    width: 278px;
    height: 237px;
    position: absolute;
    rotate: 92.26;
    top: 0vh;
    left: 80vw;
    
}
.gif-container{
    margin-top: 850px;
}